.page{
width:50%;
height:auto;
border-style: ridge;
 border-color: coral; 
border-width:10px;
}
.page.top{
width:80%;
height:800px;
border-style: groove;
}
.top .ourname{
width :200px;
height:200px;
margin-top:20px;
color : purple; 
 font-size: 50px; 
border-style: groove;
border-radius:300px;
border : 1px solid black;
border-bottom-style: ridge;
 border-color: coral; 
background-color: White;
border-width: 7px; "
}
.top .masha{
width:29%;
height:80%;
background-image: url('Masha2.png');
float: right;
}
.page.top .boxes{
width:200px;
height:150px;
border-style:groove;
 border-color: coral; 
background-color: White;
text-decoration:none;
border-width: 10%px;
font-size:35px;
}
.top.video	                   	                 